<!DOCTYPE html>
<html>
<head>
	<title>Create Item</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	 {% load static %}
	 <link rel="stylesheet" href="{% static 'userd/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">
          <a href="/dashboard">Home</a></p>
        <p class="navbar-brand"><a href="/logout">Logout</a></p>
      </div>
    </div>
  </nav>
  <div class="container">
    <form action="/add" method="post">
      {% csrf_token %}
      <h3>Create a New Wish List Item</h3>
      {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
      <div class="form-group">
        <label>Item/Product:</label>
        <input type="hidden" name="uid" value="{{ request.session.id }}">
        <input type="text" name="item" class="form-control">
      </div>
      <p>
        <input type="submit" name="submit" value="Add" class="btn btn-primary">
      </p>
    </form>
</div>
</body>
</html>