<!DOCTYPE html>
<html>
<head>
	<title>Login/Registration</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
</head>
<body>
<div class="container">
  <h1>Welcome!</h1>
  <h3>REGISTER</h3>
  {% if request.session.status == "reg" %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li
          {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
  <form action='/register' method='post'>
  			{% csrf_token %}
            <div class="form-group">Name: 
                <input type='text' name='name' class="form-control"><br>
            </div>
            <div class="form-group">Username: 
                <input type='text' name='uname' class="form-control"><br>
            </div>
            <div class="form-group">Password: 
                <input type='password' name='pword' class="form-control"><br>
            </div>
            <div class="form-group">Confirm Password: 
                <input type='password' name='cpword' class="form-control"><br>
            </div>
            <div class="form-group">Date Hired: 
                <input type="date" name="date" class="form-control">
            </div>
            <div class="form-group">
                <input type='submit' value='Submit' class="btn btn-primary">
            </div>
        </form>
    <h3>LOG IN</h3>
    {% if request.session.status == "log" %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li
          {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    <form action='/login' method='post'>
    	{% csrf_token %}
    Username: <div class="form-group"><input type='text' name='luname' class="form-control"><br></div>
    Password: <div class="form-group"><input type='password' name='lpword' class="form-control"></div>
    <div class="form-group"><input type='submit' value='Submit' class="btn btn-primary"></div>
    </form>
</div>
</body>
</html>